body, div, h1 {
  background: #fff;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

a {
  color: black;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #7F0000;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5,h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

#container {
  background: #fff;
}

footer {
  padding: 5px 0 35px 0;
  margin: 5px 0 35px 0;
  text-align: center;
  font-style: normal;
  color:  #fff;
  background: black;
}
