html, body, div {
  background: #F7F7F7;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

a {
  color: black;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #7F0000;
  outline: none;
  text-decoration: none;
}

header a{
  color:  #fff;
  
}

header {
  padding: 15px 0 0 0;
  margin: 0;
  text-align: center;
  font-style: normal;
  color:  #fff;
  background: black;
}

.summary{display: none;
}

nav {display: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5,h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

#container {
  background: #F7F7F7;
}

footer {
  padding: 25px 0 5px 0;
  margin: 0;
  text-align: center;
  font-style: normal;
  color:  #fff;
  background: black;
}
