/* Your custom styles goes here */
    body {
    background: rgb(242, 242, 242) !important;
}
    
header {
  background: black;
}

h1 a {
  color: white  !important;
}
footer p { 
     text-align: center;
     font-style: normal;
}
